@use 'variables' as v;
@use 'mixins';


//.gallery__image-container{
  //  &:hover{
    //    cursor: pointer;
    //}
//}
.modal-gallery{
   
    //border: 2px solid blue;
    width: 550px;
   
    &__background{
   
        @include mixins.modal-background;
      //  border: 2px solid green;
        display: none;
        //display: grid;
        place-content: center;
     
       
        
        
    }
   
    &__close-container{
       // border: 2px solid red;
        text-align: right;
        height: 30px;
    }
    &__close{
        width: 16px;
        &:hover{
            cursor: pointer;
            //modificar contenido
            content: url('../img/icon-close-orange.svg');

        }
    }
    &__image-container{
        background-image: url('../img/image-product-1.jpg');
        height: 446px;
        background-size: cover;
        border-radius: 16px;
        margin-bottom: 32px;
        position: relative;
        border: 1px solid v.$Orange;
       
          


    }
    &__thumnails{

        //display: none;
      //  border: 2px solid green;
        display: flex;
        justify-content: space-between;
        width: 450px;
        margin: auto;
      
        
    }
    &__thumnail{
        border: 1px solid v.$Pale-orange;
        width: 90px;
        border-radius: 16px;
        &:hover{
            cursor: pointer;
            border: 2px solid v.$Orange;
        }
    }
    &__previus{
        @include mixins.image-btn(190px, -15px, true)
    }
    &__next{
        @include mixins.image-btn(190px, 520px, true)
    }
}